<a routerLink="/mainMenu" type="button" class="link-button pull-right">
  <fa name="arrow-left" size="2x"></fa> Zurück</a>

<h3 class="white">Eine Überweisung tätigen:</h3>

<form style="margin-top:50px">

  <div class="form-group">
    <label class="white" for="recipientInput">Name des Empfängers</label>
    <input class="form-control" id="recipientInput" type="text" name="recipientInput" [(ngModel)]="userSession.username_recipient"
      required>
  </div>

  <div class="form-group">
    <label class="white" for="amountInput">Betrag</label>
    <input class="form-control" id="amountInput" type="text" placeholder="Betrag eingeben" name="amountInput" [(ngModel)]="userSession.amount"
      required>
  </div>

  <div class="form-group">
    <label class="white" for="amountInput">Verwendungszweck</label>
    <input class="form-control" id="amountInput" type="text" placeholder="Verwendungszweck eingeben" name="purposeInput" [(ngModel)]="userSession.purpose"
      required>
  </div>

  <br>

  <a type="submit" class="link-button">
    <fa name="exchange" size="2x"></fa><span style="font-size:18pt" (click)="onTransfer()"> Überweisen</span></a>
  <p *ngIf="invalidInputs" class="red">Bitte alle Felder ausfüllen.</p>
  <p *ngIf="success" class="money-green">Überweisung erfolgreich.</p>
  <p *ngIf="error" class="red">{{errorMsg}}</p>

</form>