<div class="container app">
  <div class="navbar-container">

    <nav class="navbar">
      <fa routerLink="/home" name="usd" size="3x" class="pull-left money-green"></fa>
      <a routerLink="/home" class="pull-left">SSE-Banking-App</a>
      <a routerLink="/login" [ngClass]="{'hidden': isLoggedIn}" type="button" class="link-button"><fa name="sign-in" size="2x"></fa> Einloggen</a>
      <a routerLink="/login" [ngClass]="{'hidden': isLoggedIn}" type="button" class="link-button"><fa name="user-plus" size="2x"></fa> Registrieren</a>
      <a (click)="onLogOut()" [ngClass]="{'hidden': !isLoggedIn}" type="button" class="link-button"><fa name="sign-out" size="2x"></fa> Logout</a>
    </nav>
  </div>


  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>