<div class="row app">
  <div class="navbar-container">

    <nav class="navbar">
      <fa routerLink="/home" name="usd" size="3x" style="color:green" class="pull-left"></fa>
      <a routerLink="/home" class="pull-left">SSE-Banking-App</a>
      <button routerLink="/login" [ngClass]="{'hidden': isLoggedIn}" type="button" class="btn btn-default navbar-btn" >Einloggen</button>
      <button routerLink="/login" [ngClass]="{'hidden': isLoggedIn}" type="button" class="btn btn-default navbar-btn">Registrieren</button>
      <button (click)="onLogOut()" [ngClass]="{'hidden': !isLoggedIn}" type="button" class="btn btn-default navbar-btn">Logout</button>
    </nav>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
