<a (click)="onForward()" type="button" class="link-button pull-right">
  <fa name="arrow-left" size="2x"></fa> Zurück</a>


<form style="margin-top:50px">
  <div class="form-group">

    <h3 class="white">Konto entsperren:</h3>
    <input name="accountToUnlockInput" [(ngModel)]="accountToUnlock" />
    <p class="white">{{unlockResponseMsg}}</p>

    <a type="submit" class="link-button" (click)="onUnlock()">
      <fa name="unlock" size="2x"></fa><span style="font-size:18pt"> Entsperren</span></a>
  </div>
</form>

<br>
<hr>

<form style="margin-top:50px">
  <div class="form-group">

    <h3 class="white">Konto löschen:</h3>
    <input name="accountToDeleteInput" [(ngModel)]="accountToDelete" />
    <p class="white">{{deleteResponseMsg}}</p>
    

    <a type="submit" class="link-button" (click)="onDelete()">
      <fa name="times" size="2x"></fa><span style="font-size:18pt"> Löschen</span></a>
  </div>
</form>