<div class="login-box">
  <div class="login-text">Bitte melden Sie sich an:</div>
  <input type="text" class="login-input" [(ngModel)]="userNameInput" placeholder="Name" (keyup.enter)="onLogIn()" required #nameInput>
  <input type="password" class="login-input" [(ngModel)]="passwordInput" placeholder="Passwort" (keyup.enter)="onLogIn()" required #pwInput>
  <div class="button-section">
    <button class="btn-default" (click)="sendCredentials()">sende Daten</button>
  </div>
</div>

<div [ngClass]="{'visible': !loggedIn && logInTries > 0}" class="unsuccesful">
  <div [ngClass]="{'visible': showWarning}" class="unsuccesful">
    <div>Anmeldedaten falsch</div>
    <div>Bitte erneut eingeben</div>
    <div>Versuch: {{logInTries}}</div>
  </div>


