body, html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #333 !important;
}

a:hover{
    color: red !important;
    text-decoration: none !important;
}

a:focus{
    color: red !important;
    text-decoration: none;
}

.white{
    color: #dfdfdf !important;
}

.red {
    color: #b44e4e !important
}

.grey{
    color: grey !important;
}

.money-green{
    color: #216C2A
}

.link-button{
    color: grey;
    transition: 0.3s;
    text-decoration: none;
}