<a routerLink="/mainMenu" type="button" class="link-button pull-right">
  <fa name="arrow-left" size="2x"></fa> Zurück</a>

<h3 class="white">Mein Kontoauszug:</h3>

<table class="table white" style="margin-top:50px">
  <thead>
    <tr>
      <th>Empfänger</th>
      <th>Sender</th>
      <th>Betrag</th>
      <th>V. Zweck</th>
      <th>Datum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movement of movements">
      <td>{{movement.username_recipient}}</td>
      <td>{{movement.username_owner}}</td>
      <td *ngIf="movement.username_recipient == username"class="money-green">+{{movement.amount}}</td>
      <td *ngIf="movement.username_recipient != username"class="red">-{{movement.amount}}</td>
      <td>{{movement.purpose}}</td>
      <td>{{movement.movementDate}}</td>
    </tr>
  </tbody>
</table>
