<h3 class="white">Guten Tag Christopher Hansen,</h3>

<div style="margin-top:50px">
  <h4 class="white">Ihr Finanzstatus:</h4>
  <fa name="eur" size="4x" class="pull-left money-green"></fa>
  <span style="font-size:24pt; margin-left:15px" class="money-green">3561,66 EUR</span>
</div>

<div class="white" style="margin-top:50px">
  <h4>Weitere Funktionen:</h4>
  <ul>
    <li>
      Kontoauszug anzeigen:
      <a routerLink="/history" class="link-button"><fa name="list" size="2x"></fa></a>
    </li>

    <li>
      Überweisung tätigen:
      <a href="" class="link-button"><fa name="exchange" size="2x"></fa></a>
    </li>

    <li>
      Konto erstellen:
      <a href="" class="link-button"><fa name="user-plus" size="2x"></fa></a>
    </li>

    <li>
      Konto löschen:
      <a href="" class="link-button"><fa name="user-times" size="2x"></fa></a>
    </li>

  </ul>
</div>